.form {
    height: auto;
    background-color: #224957;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sections {
    display: flex;
    padding: 20px;
}

.box {
    margin: 20px;
    padding: 10px;
}